<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Menu</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Food Menu</h1>
<ul>
    <li th:each="category : ${categories}">
        <a th:href="@{/menu/category/{id}(id=${category.id})}" th:text="${category.name}"></a>
    </li>
</ul>

<div id="food-list">
    <div th:replace="Menu/foodListContainer :: fragment"></div>
</div>

<script th:src="@{/js/scripts.js}"></script>
</body>
</html>
