<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revenue Details</title>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<th:block th:replace="~{layout::link-css}"></th:block>
<th:block th:replace="~{layout::custom-css}"></th:block>
<div class="container">
    <h2 class="text-center">Revenue Details</h2>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Quantity</th>
                    <th>Food Name</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <!-- Iterate through details -->
                <tr th:each="detail : ${details}">
                    <td th:text="${detail[0]}"></td>
                    <td th:text="${detail[1]}"></td>
                    <td th:text="${detail[2]}"></td>
                    <td th:text="${detail[3]}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<th:block th:replace="~{Home/index::footer}"></th:block>

</body>
</html>
