<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Food Cards</title>
</head>
<body>
<div th:fragment="foodList">
    <div th:each="food : ${foods}" class="col-sm-6 col-lg-4 all">
        <div class="box">
            <div>
                <div class="img-box">
                    <img th:src="@{'/img/' + ${food.image_url}}" alt="Food Image">
                </div>
                <div class="detail-box">
                    <h5 th:text="${food.name}">Food Name</h5>
                    <p th:text="${food.description}">Food Description</p>
                    <div class="options">
                        <h6 th:text="'$' + ${food.price}">Price</h6>
                        <a href="">
                            <!-- SVG icon code -->
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
