<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Danh sách danh mục</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Danh sách danh mục</h1>
    <a href="/categories/create" class="btn btn-primary mb-3">Thêm danh mục</a>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Tên danh mục</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categories}">
            <td th:text="${category.name}"></td>
            <td>
                <a th:href="@{/categories/edit/{id}(id=${category.id})}" class="btn btn-warning">Sửa</a>
                <a th:href="@{/categories/delete/{id}(id=${category.id})}" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/books}">Back to list </a>
</div>
</body>
</html>
