<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <title>Edit Book</title>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <h1>Edit Book</h1>
    <form th:action="@{/foods/edit}"  th:object="${food}" enctype="multipart/form-data"  method="POST" >
        <input type="hidden" th:field="*{id}">

        <div class="col-6 mb-3">
            <label class="form-label" for="name">Name:</label>
            <input class="form-control" type="text" th:field="*{name}"
                   id="name">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="price">Price:</label>
            <input class="form-control" type="text" th:field="*{price}"
                   id="price">
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="category">Category:</label>
            <select class="form-control" th:field="*{category}" id="category">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <div class="col-6 mb-3">
            <label class="form-label" for="image_url">Book Image:</label>
            <input class="form-control" type="file" name="image">
            <input type="hidden" th:field="*{image_url}">
            <input class="form-control" type="image" disabled="disabled" th:src="*{image_url}" alt="" id="image_url">
        </div>
        <input class="btn btn-success" type="submit" value="Save">
    </form>
    <br>
    <a class="btn btn-primary" th:href="@{/foods}">Back to List</a>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>
